.cart{
    margin-left: 10px;
}
.search_form{
    display: flex;


}
.search{
    width: 60%;
    margin-top: 10px;
}
main{
    padding: 100px;
}
.form-control{
    margin-right: 10px;
}


.card{
    margin-left: 20px;
}

.paginate{
    margin-left: 20px;
}

.addNew{
    display: flex;
    margin-left: 20px;
    margin-bottom: 30px;
}

.btn-space {
    margin-right: 15px;
}









